body{
    font-size: 20px;
    font-weight: 500;
}

.one{
    display: flex;
    justify-content: space-around;
}

.categories {
    width: 25%;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
}

.products {
    width: 25%;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
}

.product-info {
    width: 25%;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
}

.one ul {
    list-style: none;
    padding: 0;
}

.one ul li{
    margin-bottom: 5px;
}

.one .product-info h5{
    margin: 0;
}

.one .product-info p{
    margin: 10px;
}

.one button {
    display: none;
    padding: 5px;
    border-radius: 5px;
    background-color: azure;
    margin: 0 auto;
}

.two{
    text-align: center;
}
#orderForm {
    display: none;
}
form div {
    margin-bottom: 15px;
}

.field_comment {
    display: flex;
    justify-content: center;
}

#orderConfirmation{
    display: none;
}